<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/docente" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- logo del header -->
    <!-- <ion-img class="imagen1" src="assets/logo1.png"></ion-img> -->
    <!-- titulo alumno -->
    <!-- <ion-title class="title">Docente</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"><ion-img class="img" src="assets/user.png"></ion-img>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Mi perfil</ion-card-title>
      <ion-card-subtitle>Datos de tu cuenta</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="userData">
        <ion-item>
          <ion-item>
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-item>
          <ion-label style="font-size: 13px;">Nombre: {{userData.nombre}} {{userData.apellido}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-item>
          <ion-label style="font-size: 13px;" >Email: {{userData.email}} </ion-label>
        </ion-item>

        <ion-item>
          <ion-item>
            <ion-icon name="body-outline"></ion-icon>
          </ion-item>
          <ion-label style="font-size: 13px;">Tipo de usuario: {{userData.tipo}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-item>
            <ion-icon name="call-outline"></ion-icon>
          </ion-item>
          <ion-label style="font-size: 13px;">Teléfono : +56 {{userData.phone}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-item>
            <ion-icon name="man-outline"></ion-icon>
          </ion-item>
          <ion-label style="font-size: 13px;">Rut: {{userData.rut}}-{{userData.dv}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-item>
            <ion-icon name="map-outline"></ion-icon>
          </ion-item>
          <ion-label style="font-size: 13px;">Dirección : {{userData.direccion}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
