<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/docente" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- logo del header -->
    <ion-img class="imagen1" src="assets/logo1.png"></ion-img>
    <!-- titulo alumno -->
    <ion-title class="title">Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <ion-title class="ion-text-center" style="color: #000">Asignaturas impartidas</ion-title>
  </div>
  <ion-card class="ion-text-center" *ngFor="let clases of firestoreData">
    <div>
      <ion-img src="assets/img/fondo1.png" class="ion-margin"></ion-img>
      <div>
        <p color="dark">{{clases.codigo}} </p>
        <p color="dark">Nombre: {{clases.nombre}} </p>
        <p color="dark">Sala: {{clases.sala}} </p>
      </div>
    </div>
    <div>
      <ion-button (click)="newDoc()">
        Tomar Asistencia
      </ion-button>
      <ion-button color="success">
        Ver curso
      </ion-button>
    </div>
    <br>
  </ion-card>
</ion-content>

