<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/docente" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- logo del header -->
    <ion-img class="imagen1" src="assets/logo1.png"></ion-img>
    <!-- titulo alumno -->
    <ion-title class="title">Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <ion-title class="ion-text-center" style="color: #000">Asignaturas impartidas</ion-title>
  </div>
  <ion-card >
    <ion-card-content>
      <ion-list >
        <div>
          <ion-item >
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>  </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>
    <div class="ion-text-center">
      <ion-button (click)="newDoc()">
        Tomar Asistencia
      </ion-button>
      <ion-button color="success" routerLink="/clases-ver" >
        Ver curso
      </ion-button>
    </div>
    <br>
  </ion-card>
</ion-content>

