<ion-menu menu="main-menu" contentId="main-content" color="primary">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <!-- items  -->
      <ion-item class="ion-text-center" routerLink="/admin">
        <ion-icon name="home" class="ion-margin" color="primary"></ion-icon>
        Home
      </ion-item>
      <!-- items  -->
      <ion-item class="ion-text-center" routerLink="/resgistrar">
        <ion-icon name="person-add" class="ion-margin" color="primary"></ion-icon>
        Registrar
      </ion-item>
      <!-- items  -->
      <!-- <ion-item class="ion-text-center">
        <ion-icon name="create" class="ion-margin" color="primary"></ion-icon>
        Modificar
      </ion-item> -->
      <!-- items  -->
        <ion-button fill="clear" class="ion-text-center"  (click)="authService.SignOut()">
          <ion-item> <ion-icon name="log-out-outline"  color="secondary"></ion-icon></ion-item>
            Cerrar Sesión
        </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="div">
        <!-- <ion-img class="imagen1" src="assets/logo1.png"></ion-img> -->
      </div>
      <!-- <ion-title color="primary" class="ion-text-center name">
        A D M I N
      </ion-title> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-card class="card">
    <ion-card-header>
      Modificar datos de usuarios
    </ion-card-header>
    <ion-item>
      <ion-icon name="person" color="primary"></ion-icon>
      <ion-label class="ion-text-center" class="ion-margin">Nombre:</ion-label>
      <ion-input [(ngModel)]="datosModificados.nombre" required type="text" placeholder="Ingrese el primer nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" color="primary"></ion-icon>
      <ion-label class="ion-text-center" class="ion-margin">Apellido:</ion-label>
      <ion-input [(ngModel)]="datosModificados.apellido" required type="text" placeholder="Ingrese el primer apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" color="primary"></ion-icon>
      <ion-label class="ion-text-center" class="ion-margin">Rut:</ion-label>
      <ion-input [(ngModel)]="datosModificados.rut" required type="number" pattern="[0-9]{8}" placeholder="Ingrese rut sin guión y sin dv"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" color="primary"></ion-icon>
      <ion-label class="ion-text-center" class="ion-margin">Dv:</ion-label>
      <ion-input [(ngModel)]="datosModificados.dv" required type="number" pattern="[0-9]{1}" placeholder="Ingrese digito verificador"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" color="primary"></ion-icon>
      <ion-label class="ion-text-center" class="ion-margin">Correo:</ion-label>
      <ion-input [(ngModel)]="datosModificados.email" required type="email" placeholder="Ingrese correo asignado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="call" color="primary"></ion-icon>
      <ion-label class="ion-text-center" class="ion-margin">Teléfono:</ion-label>
      <ion-input [(ngModel)]="datosModificados.phone" required type="number" pattern="[0-9]{9}"  placeholder="Ingrese teléfono, sin +56"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="location" color="primary"></ion-icon>
      <ion-label class="ion-text-center" class="ion-margin">Dirección:</ion-label>
      <ion-input [(ngModel)]="datosModificados.direccion" required type="text"  placeholder="Ingrese dirección"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="options" color="primary"></ion-icon>
      <ion-label class="ion-margin">Seleccione una opción:</ion-label>
    <!-- radio group que hara escoger entre 2 opciones -->
    <ion-radio-group [(ngModel)]="datosModificados.tipo" required>
      <ion-radio value="alumno">Alumno</ion-radio><br />
      <ion-radio value="docente">Docente</ion-radio><br />
    </ion-radio-group>
    </ion-item>

    <!-- <ion-item>
      <ion-icon name="book" color="primary"></ion-icon>
      <ion-label class="ion-text-center" class="ion-margin">Id Clase: </ion-label>
      <ion-input [(ngModel)]="datosModificados.claseId" required type="text"  placeholder="Ingrese dirección"></ion-input>
    </ion-item> -->

    <!-- boton para loguearme -->
    <ion-button class="iniciar" expand="block" shape="round" (click)="guardarModificacion()">
      Modificar
      <ion-icon slot="end" name="register"></ion-icon>
    </ion-button>
  </ion-card>
  </ion-content>
</div>
