<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/docente" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- logo del header -->
    <!-- <ion-img class="imagen1" src="assets/logo1.png"></ion-img>
    titulo alumno -->
    <!-- <ion-title class="title">Docente</ion-title>  -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="ion-text-center" color="dark" style="margin-top: 20px" >Clases impartidas</ion-title>
  <ion-card style="text-align: center;">
    <ion-img src="assets/img/fondo2.png"></ion-img>
    <ion-card-content>
      <div *ngIf="clases" color="dark">
        <p>  {{clases.codigo}} </p>
        <p> Nombre de la Clase: {{clases.nombre}} </p>
        <p> Sala: {{clases.sala}} </p>
        <p> Sección: {{clases.seccionId}} </p>
      </div>
    </ion-card-content>
    <ion-button (click)="presentPopover()">Click Me</ion-button>
  </ion-card>
</ion-content>
