<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/alumno" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- logo del header -->
    <!-- <ion-img class="imagen1" src="assets/logo1.png"></ion-img> -->
    <!-- titulo alumno -->
    <!-- <ion-title class="title">Alumno</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="assets/img/fondo1.png"></ion-img>
    <ion-card-content>
      <div *ngIf="clasess">
        <p class="ion-text-center"> Nombre de la Clase: {{clasess.nombre}} </p>
      </div>
    </ion-card-content>
    <div class="ion-text-center">
      <ion-button (click)="modificarAsistencia()">
        Marcar asistencia
      </ion-button>
      <ion-button color="success" routerLink="/cursos" >
        Ver curso
      </ion-button>
    </div>
  </ion-card>
</ion-content>
