<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/alumno" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- logo del header -->
    <ion-img class="imagen1" src="assets/logo1.png"></ion-img>
    <!-- titulo alumno -->
    <ion-title class="title">Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Clases</h1>
  <ion-card color="medium">
    <ion-card-content>
      <ion-item color="medium">
        <ion-label> item  </ion-label>
      </ion-item>
    </ion-card-content>
    <div class="ion-text-center">
      <ion-button (click)="modificarAsistencia()">
        Marcar asistencia
      </ion-button>
      <ion-button color="success" routerLink="/" >
        Ver curso
      </ion-button>
    </div>
  </ion-card>
</ion-content>
