<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/alumno" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="assets/img/fondo1.png"></ion-img>
    <ion-card-content>
      <div *ngIf="clasess">
        <p class="ion-text-center"> Nombre de la Clase: {{clasess.nombre}} </p>
        <p class="ion-text-center"> Nombre docente: {{clasess.nombreD}} </p>
      </div>
    </ion-card-content>
    <div class="ion-text-center" (click)="modificarAsistio()">
      <ion-button >
        Marcar asistencia
      </ion-button>
    </div>
  </ion-card>
</ion-content>
