<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/alumno" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- logo del header -->
    <ion-img class="imagen1" src="assets/logo1.png"></ion-img>
    <!-- titulo alumno -->
    <ion-title class="title">Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Mis Datos</h1>
  <ion-img class="img" src="assets/user.png"></ion-img>
  <ion-card color="primary">
    <ion-list color="primary" *ngIf="userData">
      <ion-item color="primary">
        <ion-title>Nombre : {{userData.nombre}} {{userData.apellido}} </ion-title>
      </ion-item>
      <ion-item>
        <ion-title>Correo : {{userData.email}} </ion-title>
      </ion-item>
      <ion-item color="primary">
        <ion-title>Tipo de usuario: {{userData.tipo}} </ion-title>
      </ion-item>
      <ion-item>
        <ion-title>Teléfono : +56 {{userData.phone}} </ion-title>
      </ion-item>
      <ion-item color="primary">
        <ion-title>Dirección : {{userData.direccion}} </ion-title>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
