<app-header title="Alumno">

</app-header>

<ion-content [fullscreen]="true">
  <ion-title class="title">Bienvenido  a la <br> página principal del estudiante</ion-title>
  <ion-img src="assets/userAlumno.png" class="imagen"></ion-img>
  <ion-card>
    <ion-list>

      <ion-item color="primary">
        <ion-title routerLink="/cursos">Curso</ion-title>
      </ion-item>

      <ion-item>
        <ion-title routerLink="/cuenta">Mi Cuenta</ion-title>
      </ion-item>

      <ion-item color="primary">
        <ion-title routerLink="/asistencia-qr">Scanner Qr</ion-title>
      </ion-item>

      <ion-item>
        <ion-title >Cerrar Sesión</ion-title>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
