<app-header title="Recuperación de password"></app-header>

<ion-content [fullscreen]="true">
  <h1>Recuperación de contraseña</h1>
  <ion-card>
    <!-- item del correo -->
    <ion-item>
      <ion-label position="floating">Ingrese correo:</ion-label>
      <ion-input type="email" placeholder="example@exampple.cl"></ion-input>
    </ion-item>
    <!-- item new password -->
    <!-- <ion-item>
      <ion-label position="floating">Ingrese nueva contraseña:</ion-label>
      <ion-input type="password" placeholder="new_password"></ion-input>
    </ion-item> -->
    <!-- boton para loguearme -->
    <ion-button class="iniciar" expand="block" shape="round">Enviar</ion-button>
    <ion-button class="olvidar" expand="block" fill="outline" routerLink="/log-in" style="margin-top: 20px">
      Volve
      <ion-icon slot="end" name="log-out"></ion-icon>
    </ion-button>
    <!-- terminos de uso de la aplicación -->
    <p>Al ingresar a nuestra aplicación aceptas las Condiciones de uso y Política de privacidad.</p>
  </ion-card>
</ion-content>
