<app-header title=""></app-header>

<ion-content [fullscreen]="true">
  <!-- logo 2 -->
  <ion-img class="imagen2" src="assets/logo2.png"></ion-img>
  <!-- boton inicio de sesion -->
  <ion-button routerLink="/log-in" expand="block" shape="round">Iniciar sesión</ion-button>
  <!-- boton para registrarse -->
  <!-- <ion-button routerLink="/signup" expand="block" shape="round">Crear Cuenta</ion-button> -->

  <!-- terminos y uso de la aplicacion -->
  <p>Al ingresar a nuestra aplicación aceptas las Condiciones de uso y Política de privacidad.</p>
</ion-content>
