<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/alumno" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- logo del header -->
    <!-- <ion-img class="imagen1" src="assets/logo1.png"></ion-img> -->
    <!-- titulo alumno -->
    <!-- <ion-title class="title" color="primary">Alumno</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <h1 class="ion-text-center">Asistencia</h1>
    <table  class="ion-margin">
      <div *ngFor="let asis of asis">
        <tbody >
          <br>
          <tr>
            <td>
              Fecha: {{asis.fecha}} <br>
              Día: {{asis.dia}} <br>
              Hora: {{asis.hora}} <br>
              Nombre del docente: {{asis.nombreDocente}} <br>
              <!-- <p>Asistió:</p> -->
              <!-- <ul>
                <li *ngIf="lista">
                  {{  ? 'Presente' : 'Ausente' }}
                </li>
              </ul> -->
            </td>
          </tr>
        </tbody>
      </div>
    </table>
  </ion-card>
</ion-content>
