<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/alumno" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="ion-text-center">Asistencia</h2>
  <ion-card *ngFor="let asistencia of asistenciasToShow">
    <ion-card-content>
      <table class="ion-margin">
        <tbody>
          <tr>
            <td>
              Fecha: {{ asistencia.fecha }} <br>
              Día: {{ asistencia.dia }} <br>
              Hora: {{ asistencia.hora }} <br>
              Nombre del docente: {{ asistencia.nombreDocente }} <br>
              <br>
              <ion-badge *ngIf="asistencia.asistio" color="success">Asistió</ion-badge>
              <ion-badge *ngIf="!asistencia.asistio" color="danger">Ausente</ion-badge>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>

