<app-header title="Docente"></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div *ngIf="userData" class="ion-text-center" style="font-size:20px">
      <p>Bienvenida {{userData.nombre}} {{userData.apellido}}</p>
    </div>
    <ion-img src="assets/userDocente.png" class="imagen"></ion-img>
    <ion-list>
      <ion-button fill="clear" expand="full" class="ion-text-center" shape="round" routerLink="/asignaturas">
        <ion-icon name="book-outline" class="ion-margin" color="secondary"></ion-icon>
        Asignaturas
      </ion-button>

      <ion-button fill="clear" expand="full" class="ion-text-center" shape="round" routerLink="/cuenta-d">
        <ion-icon name="person-outline" class="ion-margin" color="secondary"></ion-icon>
        Mi cuenta
      </ion-button>

      <ion-button fill="clear" expand="full" class="ion-text-center" shape="round" routerLink="/generador-asis">
        <ion-icon name="camera-outline" class="ion-margin" color="secondary"></ion-icon>
        Asistencia
      </ion-button>

      <ion-button fill="clear" expand="full" class="ion-text-center" shape="round" (click)="authService.SignOut()">
        <ion-icon name="log-out-outline" class="ion-margin" color="secondary"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>
