<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- flecha para volver atras -->
    <ion-buttons slot="start">
      <ion-button routerLink="/alumno" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- logo del header -->
    <!-- <ion-img class="imagen1" src="assets/logo1.png"></ion-img> -->
    <!-- titulo alumno -->
    <!-- <ion-title class="title" color="primary">Alumno</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="ion-text-center" color="dark" style="margin-top: 20px">Clases</ion-title>
  <ion-card style="text-align: center;">
    <ion-img src="assets/img/fondo1.png"></ion-img>
    <ion-card-content>
      <div *ngIf="clases" color="dark">
        <p>  {{clases.codigo}} </p>
        <p> Nombre de la Clase: {{clases.nombre}} </p>
        <p> Nombre Docente: {{clases.nombreD}} </p>
        <p> Sala: {{clases.sala}} </p>
        <p> Sección: {{clases.seccionId}} </p>
      </div>
    </ion-card-content>
    <!-- boton para ver asistencia -->
    <ion-button fill="clear" routerLink="/asistencia" >Ver Asistencia</ion-button>
    <!-- <ion-button color="success" fill="clear" routerLink="/horario" >Ver Horario</ion-button> -->
  </ion-card>
</ion-content>
